/

html, body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header{
<<<<<<< HEAD
	background-color: #cccccc;
	background-image: url('../img/image-two.jpg');
    background-repeat: repeat;
=======
	background-color:  white;
	background-image: url('../img/image-one.jpg');
	background-repeat: repeat;
>>>>>>> f28f9c3dd34c8985ba87ed3b9b7a53036e218ff7
	padding: 40px; /*shorthand notation*/
	text-align: center;

}

h1{
	font-size: 75px;
	color: white;
	text-shadow: /* x  */ 0 /* Y */ 4px /* blur amount */ 20px black;
	margin: 0;
	text-transform: uppercase;

}

 .content h2{
 	color: #cc3300;
 	font-family: Helvetica , sans-serif;
 	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	

}

 .content p{
 	color: #0033cc;
	text-align: center;
}

 .content ol {
 	text-align: center;
 	list-style: none;
 	padding: 0;
 }


header img{
		border-radius: 175px;
		width: 300px;
		height: 350px;
		border: 15px solid #4d0000;
		box-shadow: 0 10px 20px black;
}

.content{
	max-width: 900PX;
	margin: 0 auto;
	padding: 10px 20px;
	background-color: lightgray;
}

img.big-image{
	max-width: 100%;
	padding: 0;
	margin: 0;
}

p.caption{
	font-size: 16px;
	color: #4d4d4d;
	font-style: italic;
}

.content ul{
	text-align: center;
	list-style: none;
	padding: 0;

}


a{
	color: #0066ff;
	text-decoration: underline;
}

footer{
	padding: 40px 20px;
	background-color: #E6E6E6;
	margin-top: 20px;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}

